.add-button {
    border: none;
    background: none;
    transition: color 200ms;
    border-radius: 100%;
    aspect-ratio: 1;
    color: var(--quaternary-color);
}

.add-button:hover {
    color: var(--middle-color);
    background: none;
}

.add-button:active {
    color: var(--middle-color);
    transform: scale(0.95); /* Slightly reduces size for a pressed effect */
}

.add-button:focus {
  outline: none;
}