/* Container styling */
.add-item-container {
    padding: var(--padding-large);
}
 
/* Header styling */
.add-item-container h2 {
    color: var(--secondary-color);
    text-align: center;
    margin: var(--padding-large) 0 var(--padding-medium);
    font-size: var(--font-large);
}

/* Form styling */
.add-item-container form{
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
}

.add-item-container .button-nav-container {
    display: flex;
    justify-content: center; /* Centers the buttons in the container */
    gap: var(--padding-medium); /* Space between the buttons */
}

/* Input field styling */
.add-item-container input[type="text"] {
    padding: var(--padding-medium);
    font-size: var(--font-medium);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--quaternary-color);
    transition: border-color 0.2s;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.add-item-container input[type="text"]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

/* Error message styling */
.add-item-container .error-message {
    color: var(--error-color);
    font-size: var(--font-small);
    margin-bottom: var(--padding-small);
}

/* Flex layout for both rating and comparison buttons */
.add-item-container .rating-buttons,
.add-item-container .comparison-buttons {
    display: flex;
    justify-content: center;
    gap: var(--padding-large);
}
  
/* Button styling */
.add-item-container button {
    padding: var(--padding-medium);
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    transition: background-color 0.2s;
    width: 20rem;
    /* max-width: 10rem; */
    box-shadow: var(--shadow-color);
    margin-top: 1rem;
}
  
.add-item-container button:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}

.add-item-container button:hover:not(:disabled) {
    background-color: var(--quaternary-color);
}

.add-item-container .rating-buttons button {
    max-width: 10rem;
    color:var(--primary-color);
}


.add-item-container .rating-buttons button:hover {
    filter: brightness(85%); /* Darkens the background color */
}

.add-item-container .button-nav {
    margin-top: var(--padding-large);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    max-width: 10rem;
}

/* Specific styling for rating buttons */
.add-item-container .rating-buttons .button-common {
    margin: var(--padding-large) var(--padding-medium);
}

/* Comparison text styling */
.add-item-container p {
    font-size: var(--font-medium);
    color: var(--secondary-color);
    text-align: center;
}