.auth-container {
  justify-self: center;
  width: 25vw;
}

.auth-title {
  /* text-align: center; */
  font-size: var(--font-large);
  font-weight: var(--fw-small);
  color: var(--secondary-color);
  margin-bottom: var(--padding-large);
}

.auth-form {
  gap: var(--padding-medium);
  display: flex;
  flex-direction: column;
}

.input-field {
  /* width: 100%; */
  padding: var(--padding-sm);
  border: 0.05rem solid var(--quaternary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-small);
  background-color: transparent;
  color: var(--secondary-color);
}

.submit-button {
  /* padding: var(--padding-small) var(--padding-medium); */
  /* width:fit-content; */
  align-self: center;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--font-small);
  font-weight: var(--fw-small);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

.submit-button:hover {
  background-color: var(--quaternary-color);
  color:var(--secondary-color);
}

.switch-link {
  text-align: center;
  font-size: var(--font-small);
  color: var(--secondary-color);
}

.navigate-button {
  background: none;
  border: none;
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
  font-size: var(--font-small);
  font-weight: var(--fw-medium);
  /* margin-left: var(--padding-xsmall); */
}

.navigate-button:hover {
    background: none;
    color: var(--middle-color);
}