.panel-button {
  background: none;
  color: var(--secondary-color);
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
  background-color: transparent;
}

.panel-button:hover {
  transform: scale(1.1);
  color: var(--middle-color);
  background: none;
}

.panel-button:focus {
  outline: none;
}

.panel-button:disabled {
  color: var(--quinary-color);
  cursor: default;
  pointer-events: none; /* Fully disables interactions */
  opacity: 0.5;
}