.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--padding-ml);
  padding: 0;
}

.category-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--tertiary-color);
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius-medium);
  /* border: .15rem solid var(--quinary-color); */
  text-align: center;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--primary-color);
  font-size:var(--font-ml);
  transition: background-color 200ms, box-shadow 200ms, transform 0.3s ease;
}

.category-card:hover {
  background-color: var(--quaternary-color);
  color:  var(--primary-color); /* Text color on hover */
  transform: scale(1.05);
}

.category-card:active {
  background-color: var(--active-color); /* Active/click state */
  color: var(--primary-color); /* Text color on click */
}

/* Bottom of card */
.category-content {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: var(--padding-sm);
}

.category-content p {
  font-size: var(--font-small);
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: var(--padding-small);
}

button {
  padding: var(--padding-medium);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}