/* Container for the settings filter UI */
/* .filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--padding-medium);
} */

/* Smooth transitions for the settings actions (like Filter, Like, etc.) */
.category-actions {
  position: relative;
  display: flex;
  gap: var(--padding-medium);
  justify-content: left;
  margin: 0;
  padding: 0;
  /* Initial state: hidden */
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20%);
  transform-origin: left;
  transition: visibility 100ms ease, opacity 100ms ease, transform 200ms ease;
}

.category-actions.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    margin-bottom: var(--padding-medium);
}

/* Layout for checkboxes and filter inputs */
.filter-checkboxes,
.filter-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
  justify-content: center;
  /* align-items: flex-start; */
}

/* Each checkbox container */
.filter-checkbox-container {
  display: flex;
  align-items: center;
}

/* Styling for the checkbox label and text */
.filter-field {
  display: flex;
  align-items: center;
  gap: var(--padding-xsmall);
}

/* Container for each filter input */
.filter-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for filter input fields */
.filters {
  padding: var(--padding-small);
  border-radius: var(--border-radius-medium);
  border: 0.01rem solid var(--quinary-color);
  font-size: var(--font-small);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 11rem;
  color: var(--secondary-color);
  background-color: transparent;
}

/* Focus state for filter inputs */
.filters:focus {
  border-color: var(--middle-color);
  /* box-shadow: 0 0 5px var(--middle-color); */
}

/* Optional: Settings toggle button styles (if not defined elsewhere) */
.settings-toggle {
  background: none;
  border: none;
  color: var(--middle-color);
  outline: none;
  margin: 0;
  display: flex;
  justify-content: left;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.settings-toggle:hover {
  transform: scale(1.1);
  color: var(--middle-color);
}