.non-editable {
    pointer-events: none;
    cursor: not-allowed;
}

/* Container for the entire category detail section */
.category-detail-container {
    padding: var(--padding-large);
    position: relative;
}

/* Grid layout for item cards, responsive */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
    gap: var(--padding-ml);
    padding: 0;
}

.item-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-medium);
    /* box-shadow: var(--shadow-small); */
    /* overflow: hidden; */
    color: var(--secondary-color);
    transition: transform 0.3s ease;
    cursor: pointer;
    /* background-color: var(--tertiary-color); */
    background-color: transparent;
    border: .05rem solid var(--quinary-color);
    padding: var(--padding-sm);
    justify-content: space-between;
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: var(--padding-xsmall) var(--padding-sm); */
    gap:0 var(--padding-sm);
    margin:0;
    padding: 0;
    margin-bottom: var(--padding-sm);
    flex-wrap: nowrap;
}

.item-header h4.item-title {
    font-size: var(--font-ml);
    font-weight: var(--fw-medium);
    margin: 0;
    text-overflow: ellipsis;
}

.item-title {
    padding: 0;
}

.item-rating {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-size: var(--font-medium);
    font-weight: var(--fw-large);
    filter: opacity(70%);
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    /* border: .05rem solid var(--secondary-color); */
    padding: 0.03rem;
    flex-shrink: 0;
}

/* Bottom of card */
.item-content {
    display: flex;
    flex-direction: column;
    /* gap: var(--padding-small) var(--padding-medium); */
    gap: var(--padding-xsmall);
    margin: 0;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    /* text-shadow: var(--shadow-small); */
    border: .12rem dotted var(--quinary-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
}

.field-pair {
    margin:0;
}

/* .field-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xsmall) var(--padding-small);
    border: .12rem dotted var(--quinary-color);
    border-radius: var(--border-radius-medium);
    gap: 0;
    margin:0;
} */

.attribute-string {
    color: var(--secondary-color);
}

.attribute-value {
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
}

/* Hover and active states */
.item-card:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
}

.item-card:active {
    color: var(--quaternary-color);
}

.item-card p {
    font-size: var(--font-small);
    line-height: 1.4;
    margin-top: 0;
    /* margin-bottom: var(--padding-small); */
}

/* Actions container */
.category-actions {
    position: relative;
    display: flex;
    gap: var(--padding-medium);
    justify-content: left;
    margin: 0;
    padding: 0;

    /* Initial state for hidden actions */
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20%); /* Move out of view to the left */
    transform-origin: left; /* Set the origin to the left edge */
    transition: visibility 100ms ease, opacity 100ms ease, transform 200ms ease;
}

.category-actions.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.icon {
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--middle-color);
}

.settings-toggle, .icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.back-button {
    margin-top: var(--padding-medium);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: var(--quaternary-color);
    color:var(--secondary-color);
    box-shadow: var(--shadow-small);
}

.back-button:focus {
    border: none;
    outline: none;
}

.category-description, .category-title {
  /* margin: 2rem 0; */
  font-size: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.category-description textarea, .category-title input {
  text-align: center;
  padding: var(--padding-sm) var(--padding-small);
  width: 80%;
  border-radius: var(--border-radius-small);
  color: var(--secondary-color);
}

.category-description p:hover, .category-title h2:hover {
  filter: brightness(90%);
}

.category-description textarea:focus, .category-title input:focus{
  border: none;
  outline: .001rem solid var(--quinary-color);
  background-color: var(--primary-color);
}

.icon:hover {
  transform: scale(1.1);
}

.non-editable, .editable {
    margin: 0;
    gap: 0;
    padding: 0;
}

.settings-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--middle-color);
  font-size: 1.5rem;
  outline: none;
  margin:0;
  display: flex;
  justify-content: left;
}

.settings-toggle:hover {
    background-color: transparent;
    color: var(--middle-color);
    border-radius: 10rem;
    outline: none;
    scale: 1.1;
}

.settings-toggle:focus {
    border: none;
    outline: none;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--padding-medium);
}

/* Individual filter input styling */
.filters {
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    border: .01rem solid var(--quinary-color);
    font-size: var(--font-medium);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 11rem;
    color: var(--secondary-color);
    background-color: transparent;
}

/* Style the filter inputs on focus */
.filters input:focus {
    border-color: var(--middle-color);
    box-shadow: 0 0 5px var(--middle-color);
}

.filter-checkboxes,
.filter-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
  justify-content: center;
  align-items: flex-start;
}

.filter-checkbox-container {
  display: flex;
  align-items: center;
}

.filter-field {
  display: flex;
  align-items: center;
  gap: var(--padding-xsmall);
}

.filter-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--padding-small);
}

.settings-actions-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--padding-small);
}

.filter-active {
  color: var(--secondary-color);
}