.category-card .card-header {
  justify-content: space-between;
}

.category-card .like-icon {
  font-size: var(--font-medium);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--middle-color);
}

.category-card .like-icon.liked {
  color: var(--secondary-color);
}

.category-card .like-icon:hover {
  transform: scale(1.1);
}

.category-card-content {
  max-width: 11rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
  font-size: var(--font-small);
}

.card-tags-container {
  /* Reserve enough width for the longest content */
  position: relative;
  height: var(--padding-ml);
  font-size: var(--font-small);
}

.card-tags {
  display: flex;
  position: relative;
}

.tags-text,
.username-text {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  transition: opacity 0.2s ease;
}

.tags-text {
  opacity: 1;
}
.username-text {
  opacity: 0;
}

.card-tags.show-username .tags-text {
  opacity: 0;
}
.card-tags.show-username .username-text {
  opacity: 1;
}