.category-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-ml);
}

.clickable-username {
  font-weight: var(--fw-ml);
}

.clickable-username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.category-header p {
  white-space: pre-line;
  /* max-width: 600px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.char-count {
  margin: 0;
}