/* Responsive grid for wide screens, adjusting columns based on screen width */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexibly fits items per row */
    gap: var(--padding-medium);
    padding: 0;
}

.item-card {
    padding: var(--padding-medium);
    background-color: var(--tertiary-color); /* Card background */
    border-radius: var(--border-radius-medium); /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 200ms, box-shadow 200ms; /* Smooth transition on hover */
    cursor: pointer; /* Pointer cursor to indicate clickability */
    text-align: center;
}

.item-card:hover {
    background-color: var(--quaternary-color); /* Change background on hover */
    box-shadow: var(--shadow-color); /* Enhance shadow on hover */
}

.item-card:active {
    color: var(--primary-color); /* Text color on click */
}

.item-grid h2 {
    font-size: var(--font-xlarge);
    margin-bottom: var(--padding-medium);
    text-align: center;
}

.item-card h4 {
    font-size: var(--font-large);
    margin-bottom: var(--padding-small);
    margin-top: var(--padding-medium);
}

.item-card p {
    font-size: var(--font-small);
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: var(--padding-small);
}