.category-grid h2 {
  font-size: var(--font-xlarge);
}

.category-grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* Makes responsive cards */
  gap: var(--padding-xlarge);
  padding: 0;
  list-style-type: none; /* Remove bullets */
}

.category-grid li {
  padding: var(--padding-medium);
}

.category-card {
  display: block; /* Ensures the link fills the whole card */
  padding: var(--padding-large) var(--padding-small) var(--padding-large) var(--padding-small);
  background-color: var(--tertiary-color); /* Background color for the card */
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius-small); /* Rounded corners */
  text-align: center;
  color: var(--secondary-color); /* Text color */
  transition: background-color 200ms, box-shadow 200ms; /* Smooth transitions */
  font-size:var(--font-medium);
}

.category-card:hover {
  background-color: var(--quaternary-color); /* Change background on hover */
  color:  var(--primary-color); /* Text color on hover */
}

.category-card:active {
  background-color: var(--active-color); /* Active/click state */
  color: var(--primary-color); /* Text color on click */
}

button {
  padding: var(--padding-medium);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}