.field-container {
  display: flex;
  justify-content: center;
  position: relative; /* Allows absolute positioning for child elements */
  padding: var(--padding-medium);
}

.primary-field-radio {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.primary-field-radio .tooltip {
  visibility: hidden;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 5px;
  border-radius: var(--border-radius-small);
  position: absolute;
  bottom: 125%; /* Position above the radio button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--font-small);
  opacity: 0;
  transition: opacity 0.3s;
}

.primary-field-radio:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#attributes {
  margin-bottom: var(--padding-medium);
  margin-top: var(--padding-large);
}

.field-container input[type="text"], .category-name {
  background-color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--tertiary-color);
  width: 20vw;
  font-size: medium;
}

.category-name {
  font-size: large;
}

.add-field-button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: var(--highlight-color); /* Set color to match icon color */
  cursor: pointer;
  padding: 0; /* Remove padding for a closer fit to the icon */
  transition: color 0.3s ease; /* Optional hover effect */
  border-radius: 60%;
  margin-top: var(--padding-medium);
}

.add-field-button:hover {
  color: var(--quinary-color); /* Change color slightly on hover */
  background: none;
}

.button-group {
  display: flex; /* Enables gap to work */
  gap: 1rem; /* Adjust this value as needed */
  justify-content: center; /* Center align buttons if needed */
  margin-top: var(--padding-medium);
}