
.modal {
  position: fixed; /* Stays in place even when the page is scrolled */
  top: 50%;
  left: 50%;
  transform: translate(-24%, -40%); /* Centers the modal */
  background-color: var(--tertiary-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow-medium);
  max-width: 25rem;
  z-index: 1000;
  width: 90%;
}

.modal h3 {
  margin-top: 0;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--quinary-color);
}

.modal input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--quinary-color);
  border-radius: 4px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.modal button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--quinary-color);
}

.icon {
  cursor: pointer;
  margin-left: 0.5rem;
}

.delete-icon {
  color: var(--error-color);
}

.delete-icon:hover {
  filter: brightness(85%);
}