.item-view-container {
  display: flex;
  justify-content: center;
  position: relative; /* Allows absolute positioning for child elements */
  padding: 2rem;
}

.item-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: var(--padding-large);
  color: var(--secondary-color);
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding-large);
}

#rating-display {
  cursor: pointer;
}

.item-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-small) 0;
  border-bottom: 1px solid var(--tertiary-color);
}

.item-label {
  font-weight: 600;
  color: var(--secondary-color);
}

.item-input, .notes-textarea {
  width: 60%;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--tertiary-color);
  padding: var(--padding-small);
  font-size: 1rem;
}

.notes-textarea {
  width: 100%;
  height: 5rem;
  /* resize: vertical; */
}

.item-value {
  color: var(--secondary-color);
}

.trash-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #f44336;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.trash-icon:hover {
  color: #da190b;
}

#back-button {
  margin-top: var(--padding-medium);
}