.field-data, .notes-field {
    background-color: transparent;
    padding: var(--padding-medium);
    font-size: var(--font-medium);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--quaternary-color);
    transition: border-color 0.2s;
    color: var(--secondary-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: var(--padding-medium) var(--padding-xsmall);
    gap: var(--padding-small);
    width: 20rem;
}

.notes-field {
  margin-top: 1rem;
  width: 65%;
}

.field-data:focus, .notes-field:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.field-data:hover, .notes-field:hover {
    border-color: var(--secondary-color);
    outline: none;
    filter: brightness(90%);
}