.item-view-container {
  display: flex;
  justify-content: center;
  position: relative; /* Allows absolute positioning for child elements */
  padding: 2rem;
}

.item-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: var(--padding-large);
  color: var(--secondary-color);
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding-large);
}

#rating-display {
  cursor: pointer;
  transition: transform 0.3s ease;
}

#rating-display:hover {
  filter:brightness(90%);
  transform: scale(1.2);
}

.item-field {
  display: flex;
  flex-direction: column; /* Stack label and value vertically */
  text-align: center;
  padding: var(--padding-small) 0;
  width: 100%; /* Ensure fields span the container width */
}

.field-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item-value {
  width: 100%;
  text-align: left;
}

.item-value,.notes-textarea {
  border: none;
  border-bottom: .01rem solid transparent;
  transition: border-color 0.2s ease;
}

.item-value:hover, .notes-textarea:hover {
  /* color: purple !important; */
  /* filter: brightness(10%); */
  display: absolute;
  border-bottom: .01rem solid var(--quinary-color);
}

.item-label {
  font-weight: var(--fw-medium);
  color: var(--secondary-color);
}

.notes-textarea {
  width: 40rem;
  height: 5rem;
  resize: vertical;
  background-color: transparent;
  color:var(--secondary-color);
}

.item-input {
  flex-grow: 1;
}

.item-input {
  background-color: var(--primary-color); 
  color: var(--secondary-color);
}

.notes-textarea, .item-input {
  outline: none; /* Disable the default outline */
  border: none; /* Ensure no border is set by default */
}


.notes-textarea:focus, .item-input:focus {
  border: none;
  outline: .05rem solid var(--quaternary-color);
  border-radius: var(--border-radius-small);
}

.notes-textarea:focus:not(:focus-visible), 
.item-input:focus:not(:focus-visible) {
  outline: none !important;
  border: none !important;
}

.trash-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.trash-icon:hover {
  filter: brightness(75%);
}

#back-button {
  margin-top: var(--padding-medium);
}