.multi-thumb-slider {
  position: relative;
  height: 48px;
  margin: 16px 0;
}

.slider-track {
  position: relative;
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
}

.slider-segment {
  position: absolute;
  height: 100%;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.2s;
}

.slider-segment:hover {
  opacity: 0.9;
}

.slider-thumb {
  position: absolute;
  top: -8px;
  width: var(--padding-ml);
  aspect-ratio: 1;
  /* height: 16px; */
  background-color: var(--primary-color);
  border: 0.1px solid var(--secondary-color);
  /* background-color: var(--primary-color); */
  /* border-radius: 50%; */
  /* color: purple; */
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  z-index: 2;
}

.slider-thumb:active {
  cursor: grabbing;
  /* background-color: var(--secondary-color-dark, #333); */
}

.thumb-label {
  font-size: 10px;
  color: var(--secondary-color);
  font-weight: bold;
}