.panel {
  position: fixed;
  top: var(--padding-medium);
  left: var(--padding-xlarge);
  /* padding: var(--padding-medium); */
  display: flex;
  flex-direction: row;
  gap: var(--padding-medium);
  z-index: 1000;
  padding: var(--padding-small);
  /* align-items: center; */
}