/* Login prompt */
.login-prompt {
  text-align: center;
  justify-self: center;
  /* margin: 2rem auto; */
  max-width: 30rem;
}

.login-prompt h2 {
  font-size: var(--font-large);
  margin-bottom: var(--padding-large);
}

.login-prompt p {
  font-size: var(--font-medium);
  color: var(--middle-color);
  margin-bottom: var(--padding-medium);
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--padding-sall);
  justify-self: center;
}

.auth-buttons .login-button,
.auth-buttons .signup-button {
  padding: var(--padding-small) var(--padding-medium);
  width: 8rem;
  background-color: var(--tertiary-color);
  
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-buttons .login-button:hover,
.auth-buttons .signup-button:hover {
  background-color: var(--quaternary-color);
}

/* Profile container styling */
.profile-container {
  padding: var(--padding-large);
}

/* Cover photo section */
.cover-photo {
  position: relative;
  height: 200px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the background */
  color: var(--primary-color); /* Ensure text contrast */
  /* border-radius: var(--border-radius-medium); */
  border-radius: var(--padding-small);
  border: 0.05rem solid var(--quaternary-color);
}

.cover-photo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-clear); /* Semi-transparent overlay */
  z-index: 1; /* Place it below the text */
}

.cover-photo h3,
.cover-photo p {
  position: relative; /* Ensure the text is above the overlay */
  z-index: 2; /* Ensure text appears on top */
  margin: 0;
}

.cover-photo img {
  width: 100vw; /* Ensure the image spans the container */
  height: 100%; /* Ensure the image spans the container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  filter: opacity(80%); /* Apply 50% opacity */
}

.cover-photo h3,
.cover-photo p {
  margin: 0;
}

.text-box {
  position: relative; /* Ensure the box appears above the overlay */
  z-index: 2;
  background-color: var(--primary-transp);
  padding: var(--padding-medium) var(--padding-xxlarge);
  border-radius: var(--padding-xlarge);
  /* box-shadow: var(--shadow-small); */
  text-align: center;
  border: 0.05rem solid var(--quinary-color);
}

.text-box h3,
.text-box p {
  margin: 0;
  color: var(--secondary-color); /* Contrast against the background */
  font-weight: var(--fw-medium);
}

/* Upload container */
.upload-container {
  margin-bottom: var(--padding-large);
}

.upload-container input {
  margin-top: var(--padding-small);
}

/* Edit Cover Photo Button */
.edit-cover-photo-button {
  position: absolute;
  bottom: var(--padding-small);
  right: var(--padding-small);
  /* color: var(--primary-color); */
  /* border: none; */
  padding: var(--padding-sm) var(--padding-medium);
  cursor: pointer;
  box-shadow: var(--shadow-small);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 2;
  background-color: transparent;
  color: var(--primary-color);
  border-radius: var(--padding-large);
  text-shadow: none;
  font-size: var(--font-medium);
}

/* .edit-cover-photo-button {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.edit-cover-photo-button:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  transform: scale(1.05);
  border:none;
}

.edit-cover-photo-button:focus {
  border:none;
  outline: none;
}