/* Button to toggle sidebar */
.sidebar-toggle {
    position: fixed;
    top: 2vh;
    left: 18vw;
    color: var(--secondary-color);
    border: none;
    padding: var(--padding-medium);
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    transition: left 200ms ease, background-color 200ms ease;
    background-color: var(--primary-color); /* new idea; check in the morning */
}

.sidebar-toggle.move-left {
    left: 2vw; /* Move the button further to the left when sidebar is hidden */
}
  
.sidebar-toggle svg {
    font-size: 1.5rem;
}

/* Sidebar styles */
nav.sidebar {
    width: 14vw;
    /* background-color: var(--tertiary-color); */
    height: 100vh;
    padding: var(--padding-large) var(--padding-medium) var(--padding-medium) var(--padding-medium);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 200ms ease, width 200ms ease;
    box-shadow: var(--shadow-color);
    overflow-y: auto;
}
  
nav.sidebar.hidden {
    transform: translateX(-100%);
}
  
nav.sidebar a {
    text-decoration: none;
    font-size: var(--font-medium);
    color: var(--secondary-color);
    font-weight: 600;
    padding: var(--padding-small) var(--padding-medium);
    display: block;
    border-radius: var(--border-radius-small);
    transition: background-color 200ms, color 200ms;
}
  
.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}
  
.sidebar ul li {
    margin-bottom: var(--padding-large);
}
  
nav.sidebar a:hover {
    box-shadow: var(--shadow-color);
}
  
nav.sidebar a.active {
    background-color: var(--active-color);
    color: var(--primary-color);
}