.tag-dropdown-container {
  position: relative;
}


.tag-input {
  padding: var(--padding-sm);
  border: 1px solid var(--quinary-color);
  border-radius: var(--border-radius-medium);
  background-color: transparent;
  outline: none;
  color: var(--secondary-color);
}

.dropdown {
  background-color: var(--primary-color);
  border: 1px solid var(--quinary-color);
  border-radius: var(--border-radius-medium);
  padding: 0.5rem;
  max-height: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-self: center;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.dropdown.expanded {
  max-height: 10rem; /* Expanded height */
  opacity: 1; /* Fully visible */
}

.dropdown-item {
  padding: var(--padding-small);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--quinary-color);
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
}

.selected-tag {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius-medium);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}