.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--secondary-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.theme-toggle:hover {
  color: var(--secondary-color);
}