/* Global Variables for Light Mode */
:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --tertiary-color: #f5f5f5; /* Sidebar background color */
    --quaternary-color: #e0e0e0; /* General hover color */
    --shadow-color: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sidebar shadow */
    --active-color: #007acc; /* Color for active or clicked links */
    
    --font-family: 'Helvetica';
    --font-small: 0.875rem; /* 14px */
    --font-medium: 1.125rem; /* 18px */
    --font-large: 1.5rem; /* 24px */
    --font-xlarge: 2rem; /* 32px */
  
    /* Spacing and Sizing */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-xlarge: 4rem;

    --border-radius-small: 4px;
    --border-radius-medium: 8px;
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #242424;
    --secondary-color: #ddd;
    --tertiary-color: #333;
    --quaternary-color: #444; /* slightly lighter dark */
    --shadow-color: 2px 0 5px rgba(255, 255, 255, 0.1); /* Softer shadow for dark mode */
  }
}

body {
  font-family: var(--font-family), sans-serif;
  overflow-y: auto;
}