/* Main App root */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Layout for the entire App */
.App-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Main content wrapper */
.main-content {
  flex: 1;
  padding: var(--padding-large);
  background-color: var(--primary-color);
  min-height: 100vh;
  transition: margin-left 200ms ease, width 200ms ease;
}

/* When the sidebar is open */
.main-content.with-sidebar {
  margin-left: 200px;
  width: calc(100vw - 200px);
}

/* When the sidebar is hidden */
.main-content.full-width {
  margin-left: 0;
  width: 100vw;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  .main-content {
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
  }
}